<div class="page">

  <div class="container">
    <h2 class="item">
      Search
    </h2>
  </div>

  <form >

    <mat-radio-group aria-label="Select an option"
                     [(ngModel)]="option"
                     name="group"
                     class="container">

      <mat-radio-button value="1"
                        class="item">
        Week
      </mat-radio-button>

      <mat-radio-button value="2"
                        class="item">
        Month
      </mat-radio-button>

      <mat-radio-button value="3"
                        class="item">
        Quarter
      </mat-radio-button>

    </mat-radio-group>

    <div [ngSwitch]="option">
      <app-date-week *ngSwitchCase="1"></app-date-week>
      <app-date-month *ngSwitchCase="2"></app-date-month>
      <app-date-quarter *ngSwitchCase="3"></app-date-quarter>
    </div>

    <div class="container"
         *ngIf="range"  >

      <mat-form-field class="item">
        <input matInput
               [ngModel]="range.start"
               name="start"
               placeholder="start"
               readonly >
      </mat-form-field>

      <mat-form-field class="item">
        <input matInput
               [ngModel]="range.end"
               name="end"
               placeholder="end"
               readonly >
      </mat-form-field>

    </div>

  </form>

</div>
