.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.item{
  flex-basis: length;
}

.page{
  border-style: double;
  border-radius:15px;
  background-color: greenyellow;
  padding:10px;
}
