
<app-event-search></app-event-search>

<ag-grid-angular
  style="width: 800px; height: 500px"
  class="ag-theme-balham"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [pagination]="true"
  [paginationAutoPageSize]="true"
  [gridOptions]="gridOptions"
  [animateRows]="true"
  [rowSelection]="rowSelection"
  (gridReady)="onGridReady($event)"
  enableColResize
  enableSorting
  enableFilter >

</ag-grid-angular>

<div class="well container"
     style="">

    <button mat-raised-button
            class="item"
            (click)="onAddRow()">

      <span class="glyphicon glyphicon-plus">
        Add New Row
      </span>

    </button>

    <button mat-raised-button
            class="item"
            (click)="onUpdate()" >

      <span class="glyphicon glyphicon-pencil">
        Update Data
      </span>

    </button>

    <button mat-raised-button
            class="item"
            (click)="onRemoveSelected()"  >

      <span class="glyphicon glyphicon-trash">
        Delete Selected
      </span>

    </button>

</div>
