/* eventsComponent's private CSS styles */
.events {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.events li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.events li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.events a {
  color: #333;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.events a:hover {
  color:#607D8B;
}

.events .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.item{
  flex-basis: auto;
  padding: 1em;
}
