<form class="container">

  <mat-form-field class="item">

    <input matInput
           [matDatepicker]="dp"
           placeholder="Quarter and Year"
           [formControl]="date">

    <mat-datepicker-toggle matSuffix
                           [for]="dp">
    </mat-datepicker-toggle>

    <mat-datepicker #dp
                    startView="multi-year"
                    (yearSelected)="chosenYearHandler($event)"
                    (monthSelected)="chosenMonthHandler($event, dp)"
                    panelClass="example-month-picker">

    </mat-datepicker>

  </mat-form-field>

  <button mat-button
          (click)="onRange()">
    Search
  </button>

</form>
