<form class="container">

  <mat-form-field class="item">
    <input matInput
           type="week"
           placeholder="Week and Year"
           [formControl]="date">

  </mat-form-field>

  <button mat-raised-button
          (click)="onRange()"
          class="item">
    Search
  </button>

</form>
