<div class="container">

  <h1 class="item">
    {{title}}
  </h1>

</div>

<nav class="container">

  <a  routerLink="/events"
      class="item"  >
    Events
  </a>

  <a routerLink="/dashboard"
     class="item"  >
    Dashboard
  </a>
</nav>

<router-outlet></router-outlet>

<div hidden="true">
  <config-http></config-http>
  <event-url></event-url>
  <event-detail-url></event-detail-url>
</div>

<app-messages></app-messages>
