<div *ngIf="event">
  <h2>{{event.eventSummary}}</h2>
  <div><span>id: </span>{{event.id}}</div>
  <div>
    <label>type:
      <input [(ngModel)]="event.eventType" placeholder="type"/>
    </label>
  </div>
  <div>
    <label>date:
      <input  [(ngModel)]="event.eventDate" placeholder="date"/>
    </label>
  </div>
  <div *ngIf="detail">
    <div>
      <label>size:
        <input [(ngModel)]="detail.eventSize" placeholder="size"/>
      </label>
    </div>
    <div>
      <label>text:
        <textarea [(ngModel)]="detail.eventDetail" rows="10" cols="35">
        </textarea>
      </label>
    </div>
  </div>

  <button mat-raised-button
          (click)="onSave()">
    save
  </button>

  <button mat-raised-button
          (click)="onDelete()">
    delete
  </button>

  <button mat-raised-button
          (click)="goBack()"
  >go back
  </button>

</div>

