<h3>Top Events</h3>

<div>
  <app-event-search></app-event-search>
</div>

<div class="grid grid-pad">
  <a *ngFor="let event of events"
     class="col-1-4"
      routerLink="/detail/{{event.id}}">
    <div class="module event">
      <h4>{{event.summary}}</h4>
    </div>
  </a>
</div>


