/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1
{
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3
{
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body{
  margin: 2em;
  background-color:
}

body, input[type="text"], button
{
  color: #333;
  font-family: Cambria, Georgia;
}


/* everywhere elst */

*
{
  font-family: Arial, Helvetica, sans-serif;
}
